
.blocks {
  width: 100px;
  height: 100px;
  margin: 10px;
  display: inline-block;
}

#red {
  background-color: #B22222;
}

#yellow {
  background-color: #edc722;
}
#blue {
  background-color: #25387d;
}
#green {
  background-color: #02751c;
}

.button {

}
